* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 12, 12);
    background-image: url('../img/bloodgif.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%); */
}

.outter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.inner {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    border-radius: 20px;
    box-shadow: 20px 22px 4px rgba(12, 0, 0, 0.664);
    margin-top: 3%;
    margin-inline: 35%;
    padding: 3%;
    width: 36%;
    border: 2px solid #ccc;
    backdrop-filter: blur(3px);
    min-width: 400px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.719);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    box-shadow: 4px 4px 0px rgba(12, 0, 0, 0.121);
}


.form {
    display: grid;
    justify-content: center;
    align-items: center;
}
.subtn
{
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    display: flex;
    color: #d2e009;
    font-size: 2.5em;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    text-shadow: 2px 2px 4px rgb(178, 222, 18);
}


.input {
    border-radius: 0.5em;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 8px;
    margin-bottom: 10px; 
    margin-top: 20px;
    
}


.button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 8px;
}

.button:hover {
    background-color: #0056b3;
}


a {
    display: flex;
    color: #dc0f38;
    text-align:center ;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bolder;
}

a:hover {
    color: #80b300;
}

.sign {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#or {
    font-size: small;
    color: rgb(1, 16, 29);
    font-weight: 800;
    text-align: center;
}
/* @media (max-width: 768px) {
    .inner {
        margin-inline: 0%;
    }

    #title {
        margin-left: 0;
    }

    .input {
        width: 100%;
        margin-bottom: 10px;
    }

    .button {
        width: 100%;
        width: fit-content;
    }
} */

.forgetHead
{
    color: #f2f5f7;
    font-size:medium;
    text-align:center;
}
.tempbtn
{
    text-align: center;
}